@page "/folder/{folderName}"
@using Notes__.Utilities
@inject FolderService FolderService
@inject LayoutService LayoutService

<h3>@folderName Folder</h3>

<div>
    <input @bind="newFileName" placeholder="Enter file name" />
    <button @onclick="CreateFile">Create New File</button>

    <ul>
        @foreach (var file in files)
        {
            var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(file);
            <li>
                <a href="@($"/note/{folderName}/{fileNameWithoutExtension}")">@fileNameWithoutExtension</a>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] public string folderName { get; set; }

    private List<string> files = new();
    private string newFileName = string.Empty;

    protected override void OnParametersSet()
    {
        // Update the title to reflect the folder name
        LayoutService.PageTitle = folderName;

        files = FolderService.GetFilesInFolder(folderName);
    }

    protected override void OnInitialized()
    {
        files = FolderService.GetFilesInFolder(folderName);
    }

    private void CreateFile()
    {
        if (!string.IsNullOrWhiteSpace(newFileName))
        {
            FolderService.CreateFileInFolder(folderName, newFileName);
            files = FolderService.GetFilesInFolder(folderName);
            newFileName = string.Empty;
        }
    }
}