@page "/"
@using Notes__.Utilities
@inject FolderService FolderService
@inject LayoutService LayoutService
@inject LayoutService LayoutService

<div class="creation-button">
    <input @bind="newFolderName" placeholder="Enter folder name" />
    <button @onclick="CreateFolder">Create New Folder</button>
</div>

<ul class="folder-list">
    @foreach (var folderName in folders)
    {
        <li class="folder-item">
            <a href="@($"/folder/{folderName}")" class="folder-link">
                <i class="folder-icon">
                <i class="bi bi-folder"></i>
                </i>
                @folderName
            </a>
        </li>
    }
</ul>

@code {
    private List<string> folders = new();
    private string newFolderName = string.Empty;

    protected override void OnInitialized()
    {
        LayoutService.PageTitle = "Your Folders";
        folders = FolderService.GetFolders();
    }

    private void CreateFolder()
    {
        if (!string.IsNullOrWhiteSpace(newFolderName))
        {
            FolderService.CreateFolder(newFolderName);
            folders = FolderService.GetFolders();
            newFolderName = string.Empty;
        }
    }
}