@inherits LayoutComponentBase
@using Notes__.Utilities
@inject LayoutService LayoutService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-start">
            <span class="page-title">@LayoutService.PageTitle</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
